Package: com.squ1dd13.calculatorxi
Name: CalculatorXI
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: iOS 11 calculator for earlier versions of iOS
Maintainer: Squ1dd13
Author: Squ1dd13
Section: Tweaks
